:root {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1280px;
  line-height: 2.0;
  font-weight: 400;
  height: 100vh;

  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

.StockList h3 {
  display: flex;
  font-size: 1.5em;
  text-align: left;
}

.StockList .subList {
  gap: 1em;
  text-align: left;
  list-style-type: none;
}

.StockList .subList .Symbol {
  display: flex;
  gap: 1em;
  text-align: left;
}

.StockList .subList .Quantity {
  display: flex;
  gap: 1em;
  text-align: left;
}

.StockList .subList .PurchasePrice {
  display: flex;
  gap: 1em;
  text-align: left;
}

.StockList .subList .ProfitLoss {
  display: flex;
  gap: 1em;
  text-align: left;
}

.StockList .noStocks {
  display: flex;
  gap: 1em;
  text-align: left;
}

.FinanceForm h3 {
  display: flex;
  font-size: 1.5em;
  text-align: left;
}

.FinanceForm form {
  display: flex;
  gap: 2em;
  max-width: 15em;
}

form button {
  padding: 1em 1em;
  border: px solid;
  font-size: 0.8em;
  font-weight: 500;
  font-family: inherit;
  color: white;
  background-color: #007bff;
  cursor: pointer;
  transition: border-color 0.25s;
  border-radius: 10px;
}